# Basic packages
numpy == 1.25.0
pandas == 2.2.2
pandas-ta == 0.3.14b0
alpaca-trade-api == 3.2.0
yfinance == 0.2.38
matplotlib == 3.8.4
plotly == 5.22.0
scikit-learn == 1.5.0
tqdm == 4.66.5
ray == 2.37.0
jupyter_client == 8.6.1
jupyter_core == 5.7.2
jupyterlab_widgets == 3.0.10
jupyter == 1.1.1